
/* Add */
.add {
	width: 100vw;
	height: 100vh;

	background: #fff;
	display: inline-flex;
	gap: 3rem;
	flex-direction: column;
	justify-content: center;
		align-items: center;

	overflow-y: scroll;
}.add > .row {
	display: inline-flex;
	gap: 1rem;
	flex-direction: row;
	justify-content: center;
		align-items: center;
	flex-wrap: wrap;

	width: 70%;
}.ontop {
	position: absolute;
	top: 0;
	flex-direction: row !important;
	z-index: 50;
}.add > .row > select {
	width: 100%;

	outline: none;
	border: none;

	font-size: 2rem;
	font-family: 'Bebas Neue', cursive;

	box-sizing: border-box;
	padding: 0.5rem;

	border-bottom: 0.3rem solid rgb(102, 110, 220);

}.add > .row > select:focus {
	border-bottom: 0.3rem solid rgb(102, 110, 220);
}

form > input[type="file"] {
	display: none;
}form > .file-input {
	width: 100%;
	height: min-content;
	font-size: 2rem;
	font-family: 'Bebas Neue', cursive;

	background: #fff;
	color: rgb(102, 110, 220);

	border: none;
	outline: none;

	box-sizing: border-box;
	padding: 0.5rem;

	border: 0.3rem solid rgb(102, 110, 220);
}form > .file-input:hover {
	background: rgb(102, 110, 220);
	color: #fff;
}.add > .create-button:hover {
	background: rgb(102, 110, 220);
	color: #fff;
}.image-upload-form {
	width: 100%;
	height: min-content;
	display: inline-flex;
	flex-direction: row;
	gap: 1rem;
}